body {
  background-color: rgb(5, 5, 15);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:12px;
}

label {
  font-size: 11px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#background-image {
  width: 95vw;
  height: 93vh;
  opacity: 0.25;
  position: absolute;
  background-size: cover;
  background-position: top;
  filter: blur(4px);
  transform: translate(2vw, 3vh);
}

.tibia-container {
  background-color: rgb(212, 192, 161);
  padding: 1rem 1.5rem;
  width: 66vw;
  margin: .66rem .66rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
}

.tibia-container-title {
  background-color: rgb(80, 80, 80);
  padding: .33rem .66rem;
  margin: .66rem .66rem;
  color: white;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  margin-bottom: -9px;
  letter-spacing: .75px;
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(251, 234, 208);
  border-image: url('./images/paper_border.gif') 15 fill / 16px / 15px round;
  padding: 1.66rem;
  filter: drop-shadow(0 5px 1px rgba(0, 0, 0, .33));
}

#name-box {
  width: 40%;
  margin-right: .66rem;
}

#checkbox-ofWorld, #checkbox-title {
  margin-left: 1.66rem;
  font-size: small;
  vertical-align: middle;
}

#btn-new-name {
  background-image: url('./images/sbutton_submit.gif');
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  width: 120px;
  height: 18px;
  border: none;
  transform: translateY(3px);
  transition: all .033s ease-in-out;
}

#btn-new-name:active {
  background-image: url('./images/sbutton_submit_pressed.gif');
  transform: translateY(4px);
}

#btn-new-name:hover {
  cursor: pointer;
}

#btn-new-name span {
  display: none;
}

.footer span {
  width: 99vw;
  font-size: smaller;
  text-align: center;
  color: darkgray;
  bottom: .33rem;
  position: absolute;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.66);
}

.footer a {
  text-decoration: none;
  color: orange;
  font-weight: bold;
}